<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FdmsDb"
			 connectionString="Server=tcp:mherazuredb.database.windows.net,1433;Initial Catalog=FDMS_SWQuality;Persist Security Info=False;User ID=Mher;Password=YOUR_REAL_PASSWORD_HERE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
	<appSettings>
		<add key="TelemetryFilePath" value="C-FGAX.txt" />
		<add key="TailNumber" value="C-FGAX" />
		<add key="ServerIp" value="127.0.0.1" />
		<add key="ServerPort" value="5000" />
		<add key="SendIntervalMs" value="1000" />
	</appSettings>
</configuration>